.container{
    max-width: 100%;
    height: 100vh;
    overflow: hidden;
}

main{
    max-width: 100%;
    height: calc(100% - 100px);
}
/* [LAYOUT ASIDE], [nav] > NAV-HEADER, NAV-MAIN, NAV-FOOTER*/
section#aside {
    width: 200px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    /* debug */
    background-color: black;
    color: white;
    /* debug */
}
nav{
    height: calc(100% - 100px);
    justify-content: space-between;
}

.nav-main{
    flex-grow: 2;
    min-height: 300px;
}
ul.menu-nav-main{
    width: 100%;
    overflow-y: scroll;
}







#content-main{
    width: 100%;
    margin-left: 200px;
    height: 100%;
    padding-top: 100px;
    overflow-y: scroll;
}

.call-to-action{
    height: 100px;
    width: 100%;
    position: fixed;
    top: 0;
    right: -200px;
    background-color: rgba(0, 128, 0, 0.171);
}

footer{
    width: 100%;
    height: 100px;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: black;
    /* debug */
    color: white;
    /* debug */
}