body{
    font-family: 'Montserrat', sans-serif;
}
.container{
    max-width: 100%;
    height: 100vh;
    overflow: hidden;
}
/* GENERAL RULEZ AND TYPOGRAPHY TEXT */
.my_color_grey{
    color: rgba(167, 163, 163, 0.678);
}
.my_color_white{
    color: #ffffff;
}
.my_width_30px{
    width: 30px;
}
.my_width_20px{
    width: 20px;
}
.my_width_14px{
    width: 14px;
}
.my_width_10px{
    width: 10px;
}
main h2, main h5{
    color: white;
}
main p{
    font-size: 10px;
    color: rgba(167, 163, 163, 0.678);
}



/* START MAIN */
main{
    background: linear-gradient(to top, #3e3e3e, #3e3e3e, #363636, #212121, #181818  );
    max-width: 100%;
    height: 100%;
}
/* [LAYOUT ASIDE], [nav] > NAV-HEADER, NAV-MAIN, NAV-FOOTER*/
section#aside {
    width: 200px;
    height: calc(100% - 80px);
    position: fixed;
    top: 0;
    left: 0;
    background-color: black;
    overflow-y: hidden;
    color: white;
}

nav{
    overflow-y: hidden;
    height: 100%;
    justify-content: space-between;
}

/* nav header */
.menu-nav-header{
    padding-top: 10%;
    padding-bottom: 10%;
}
.menu-nav-header img{
    vertical-align: middle;
}
.menu-nav-header li a{
    color: rgba(167, 163, 163, 0.678);
}
/* ---------------------- */
/* nav-main */
.main-playlist{
    width: 100%;
    height: 50px;
}
.nav-main{
    height: 100%;
    flex-grow: 2;
    /* overflow: hidden; */
    min-height: 180px;
}
.create{
    font-size: 12px;
    align-self: center;
}
.menu-nav-main{
    overflow-y: auto;
    height: 70%;
}

.menu-nav-main li a{
    text-decoration: none;
    color: rgba(167, 163, 163, 0.678);
}
.menu-nav-main li{
    font-size: 12px;
    line-height: 30px;
}
#plus{
    font-size: 45px;
}

.nav-main .create{
    align-self: center;
}
/* /end nav main */

/* start nav bottom */
.nav-bottom{
    height: 70px;
}

img.profile{
    background: rgba(158, 154, 154, 0.726);
    height: 20px;
    border-radius: 50%;
}
span.font-small{
    font-size: 10px;
}
span.profile-text{
    font-weight: 700;
    font-size: 12px;
}
/* /end nav bottom */
/* /end section aside */

/* start call to action */
.call-to-action{
    height: 100px;
    width: calc(100% - 200px);
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
    line-height: 100px;
    background-color: black;
    opacity: 50%;
}

.call-to-action a.btn{
    padding: 8px 28px;
    border: 1px solid white;
    border-radius: 25px;
    font-size: 12px;
    color: white;
}


a.btn:hover {
    cursor: pointer;
    padding: 10px 32px;
}

/* /end call-to action */

/* IMPORTANT start content main */
#content-main{
    width: calc(100% - 200px);
    margin-left: 200px;
    height: calc(100% - 80px);
    margin-bottom: 80px;
    padding-top: 100px;
    overflow-y: scroll;
}
/* star nav content menu */
.spotify-container{
    width: 100%;
    height: 100%;
    justify-content: space-between;
}
/* nav bar main */
#content-main ul.menu-nav-content{
    height: 60px;
    justify-content: center;
    align-items: center;
    flex: wrap;
}

ul.menu-nav-content li{
    padding: 0 2%;
}
ul.menu-nav-content li a{
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    font-size: small;
    color: rgba(167, 163, 163, 0.678);
}
/* start menu album recently */
.menu-album-recently{
    flex-wrap: wrap;
    justify-content: space-between;
}

.menu-album-recently li{
    flex-basis: calc(100% / 6 - 15px);
    margin-right: 15px;
}

.height100px{
    height: 100px;
}
/* start menu create */
.menu-create li{
    flex-basis: calc(100% / 6 - 15px);
    margin-right: 15px;
}
/* start menu popular */
.menu-popular li{
    flex-basis: calc(100% / 6 - 15px);
    margin-right: 15px;
}
.menu-popular li img{
    border-radius: 50%;
}
/* ---------------- */
/* END MAIN */
/* ----------------- */

/* --------------- */
/* START FOOTER */
/* ---------------- */
footer{
    width: 100%;
    height: 80px;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: black;
}
#foot-cont{
    width: 100%;
    justify-content: space-between;
}
.box{
    height: 100%;
}
.box.first{
    max-width: 200px;
}
.mini-player{
    width: 100%;
    justify-content: space-around;
    align-items: center;
}
.mini-player li{
    padding: 3%;
    flex-basis: calc(97% / 4);
}

.mini-player li h5{
    color: white;
    font-size: 10px;
}

.mini-player p{
    font-size: 6px;
}
/* ---------------------- */
/* /end first box footer */
/* --------------------- */

/* ----------------------------- */
/*  start second box footer */
/* -------------------------------- */
.box.second a, .box.third a{
    color: rgba(167, 163, 163, 0.678);
}
.box.second{
    max-width: calc(100% - 400px);
    flex-grow: 1;
    justify-content: space-around;
    align-items: center;
    background-color: black;
}

ul.music-player{
    width: 100%;
    justify-content: center;
    align-items: center;
}

ul.music-player li a{
    flex-basis: calc(100% / 5 - 20px);
    padding: 0 10px;
    font-size: 15px;
}

#special-player{
    font-size: 25px;
    margin: 0 20px;
}

ul.music-bar{
    height: 30px;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

ul.music-bar li {
    margin: 0 1%;
    font-size: 8px;
    
}

#second{
    font-size:  8px;
}

.bar-audio{
    justify-content: start;
    max-width: 360px;
    min-width: 300px;
    height: 3px;
    background-color: grey;
    border-radius: 8px;
    display: inline-block;
}
.bar-audio-2{
    display: none;
    background-color: white;
    max-width: 80px;
    min-width: 60px;
    height: 3px;
    border-radius: 8px;
}

.circle-volume{
    display:none;
    align-self: center;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: hotpink;
}
/* --------------------------- */
/* /end second box footer */
/* --------------------------- */

/* ---------------------- */
/* start box third footer*/
/* -------------------- */
.box.third{
    max-width: 200px;
}
.menu-audio{
    width: 100%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}
.menu-audio li{
    flex-basis: calc(100% / 4 - 10px);
    margin-right: 10px;
}

.menu-audio li a{
    font-size: 12px;
}

.bar-audio-bis{
    justify-content: start;
    width: 60px;
    height: 2px;
    background-color: grey;
    border-radius: 8px;
    display: inline-block;
}

.bar-audio-2-bis{
    display: none;
    background-color: white;
    width: 29px;
    height: 2px;
    border-radius: 8px;
}

.circle-volume-bis{
    display: none;
    align-self: center;
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background-color: hotpink;
}
/* -------------- */
/* /end box third footer */
/* --------------- */

/* ----------------- */
/* /END FOOTER */
/* ----------------- */



/* ALL HOVER PROPERTY OF ALL ELEMENTS */

.hover_white:hover{
    color: white;
}

.cursor:hover{
    cursor: pointer;
}

.txt_underline:hover{
    text-decoration: underline;
}

.menu-nav-content li hr{
    background-color: #1ed760;
    height: 4px;
    margin: 0 20%;
}
.menu-nav-content li:hover hr{
    display: block;
}
.btn:hover{
    filter: drop-shadow(0px 8px 9px white);
    font-weight: 700;

}

.my_filter:hover{    
    filter: grayscale(80%) opacity(1) contrast(100%) brightness(50%) drop-shadow(0px 4px 5px #32b15e);
}
#abs{
    display: none;
}
.menu-album-recently li:hover #abs{
    font-size: 50px;
    color: white;
    z-index: 1;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -100%);
    display: inline-block;
}
.menu-create li:hover #abs,
.menu-popular li:hover #abs{
    font-size: 50px;
    color: white;
    z-index: 1;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -75%);
    display: inline-block;
}

#pluto{
    width: 100%;
    height: 50%;
}
.music-bar:hover .circle-volume,
.music-bar:hover .bar-audio-2,
.menu-audio:hover .circle-volume-bis,
.menu-audio:hover .bar-audio-2-bis{
    display: block;
}
.circle-volume:active{
    transition: all 0.5s;
    width: 15px;
    height: 15px;
}
.circle-volume-bis:active{
    transition: all 0.5s;
    width: 10px;
    height: 10px;
}
.sfera {
    animation: mycircle 0.6s linear infinite;
}
@keyframes mycircle {
    from {
    transform: rotate(360deg);
    }
    to {
    transform: rotate(0deg);
    }
}
.sfera:hover {
    animation: none;
}
.click:active{
    transition: 0.2s;
    font-size: 19px;
    color: #32a75b;
}
#special-player:active{
    transition: 0.2s;
    color: #32a75b;
    font-size: 30px;
}
/* /END ALL HOVER PROPERTY OF ALL ELEMENTS */


/* START MEDIA QUERY WIDTH */

@media screen and (min-width: 1071px){
    .pippo{
        display: none;
    }
}
/* media query md */
@media screen and (min-width: 769px) and (max-width: 1070px){
    ul.menu-nav-content{
        flex-wrap: wrap;
    }
    ul.menu-nav-content li{
        flex-basis: (100% / 5 );
    }
    ul.menu-album-recently{
        flex-wrap: wrap;
        justify-content: flex-start;
    }
    ul.menu-album-recently li,
    ul.menu-create li,
    ul.menu-popular li{ 
        flex-basis: calc(100% / 4 - 15px);
        padding-bottom: 2%;
    }
    .pippo{
        display: none;
    }
    

    .box.second{
        padding: 0 5%;
    }

}
@media screen and (max-width: 768px){
    ul.menu-nav-content{
        flex-wrap: wrap;
    }
    ul.menu-nav-content li{
        flex-basis: (100% / 3 );
    }
    ul.menu-album-recently{
        flex-wrap: wrap;
        justify-content: flex-start;
    }
    ul.menu-album-recently li,
    ul.menu-create li,
    ul.menu-popular li{ 
        flex-basis: calc(100% / 2 - 15px);
        padding-bottom: 2%;
    }
    .pippo{
        display: none;
    }

    .bar-audio{
        min-width: 180px;
    }
    .bar-audio-2{
        min-width: 40px;
    }

}

@media screen and (max-width: 568px){   
    section#aside{
        padding: 0%;
        max-width: 10%;
    }
    nav{
        text-align: center;
    }
    
    #content-main,
    .call-to-action{
        min-width: calc(100% - 10%);
        margin-left: 10%;        
    }
    .xs_none{
        display: none;
    }
    .xs_block,
    .mini-logo{
        display: block;
    }
    .nav-bottom{
        padding: 0;
    }
    .icon-spotify img,
    img.download,
    img.profile,
    {
        width: 50%;
    }
    .pippo{
        display: block;
    }
    .pippo img{
        width: 60%;
    } 
    img.profile{
        margin-top: 25%;
    }  
    .box{
        width: calc(100% / 3 - 20px)
    } 
    .bar-audio{
        width: 100px;
    }
    .bar-audio-2{
        width: 40px;
    }
    ul.music-player li a{
        font-size: 11px;
    }
    #special-player{
        font-size: 20px;
    }
    .menu-audio{
        padding-right: 5%;
    }
    .mini-player li a.my_color_grey,
    .menu-audio li a{
        font-size: 9px;
    }
}

@media screen and (max-width: 500px){
    .box.first{
        display:none;
    }
    .box.third{
        padding-left: 2%;
    }
    .box.second{
    max-width: calc(100% - 10px);
    flex-grow: 1;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    }
    #foot-cont{
        flex-direction: row-reverse;
    }
}

@media screen and (max-width: 364px){
    .box.second{
        width: 100%;
    }
    .box.third{
        display: none;
    }
}
/* END MEDIA QUERY WIDTH */
/* --------------------------------- */

/* START MEDIA QUERY HEIGHT */
@media screen and (min-height: 420px) and (max-height: 520px){
    .nav-bottom{
        display: none;
    }
    ul.menu-nav-main{
        height: 45%;
        padding-bottom: 5%;
    }
}

@media screen  and (min-height: 376px) and (max-height: 421px){
    ul.menu-nav-main{
        height: 25%;
        padding-bottom: 5%;
    }
    .nav-bottom{
        display: none;
    }
}

@media screen and (min-height: 270px) and (max-height: 375px){
    .call-to-action .btn{
        display: none;
    }
    .playlist{
    max-height: 30px;
    padding-top: 3%;
    margin-bottom: 10px;
    }
    .playlist span{
        line-height: 30px;
        font-size: 10px;
    }
    .playlist h5{
        font-size: 10px;
    }
    .playlist .create{
        display: none;
    }
    .nav-bottom{
        display: none;
    }
    .nav-main{
        flex-grow: 2;
        min-height: 50px;
        height: 50%;
    }
    ul.menu-nav-main{
        height: 70%;
        padding-bottom: 6%;
    }
    ul.menu-nav-main li{
        font-size: 10px;
        line-height: 25px;
        min-height: 14px;
    }
    .menu-nav-header img{
        width: 20px;
    }

    #plus{
        font-size: 10px;
    }
    .icon-small{
        font-size: 12px;
    }
    .logo{
        width: 50%;
        margin: 0 25%;
    }
    .menu-nav-header{
        padding-top: 2%;
        padding-bottom: 1%;
    } 
}
/* /END MEDIA QUERY HEIGHT */
/* --------------------------------- */