.container{
    width: 100%;
    height: 100vh;
    overflow: hidden;
}


main{
    background: linear-gradient(to top, #3e3e3e, #3e3e3e, #363636, #212121, #181818  );
    max-width: 100%;
    height: 100%;
}
/* [LAYOUT ASIDE], [nav] > NAV-HEADER, NAV-MAIN, NAV-FOOTER*/
section#aside {
    width: 200px;
    height: calc(100% - 80px);
    position: fixed;
    top: 0;
    left: 0;
    /* debug */
    background-color: black;
    color: white;
    /* debug */
}
/* da mettere nelle general rulez RICORDATELO */
.my_color_grey{
    color: rgba(167, 163, 163, 0.678);
}
.my_width_30px{
    width: 30px;
}
.my_width_20px{
    width: 20px;
}
main h2, main h5{
    color: white;
}
main p{
    font-size: 10px;
    color: rgba(167, 163, 163, 0.678);
}

nav{
    height: 100%;
    justify-content: space-between;
}

/* nav header */
.menu-nav-header img{
    vertical-align: middle;
}
.menu-nav-header li a{
    color: rgba(167, 163, 163, 0.678);
}



.nav-main{
    flex-grow: 10;
    overflow: hidden;
}

.menu-nav-main{
    min-height: 280px;
    overflow-y: auto;
}

.menu-nav-main li a{
    text-decoration: none;
    color: rgba(167, 163, 163, 0.678);
}
.menu-nav-main li:not(:first-child){
    padding-top: 8%;
}
#plus{
    font-size: 45px;
}

.nav-main .create{
    align-self: center;
}


img.profile{
    height: 20px;
    border-radius: 50%;
}






#content-main{
    width: calc(100% - 200px);
    margin-left: 200px;
    height: calc(100% - 180px);
    margin-bottom: 80px;
    margin-top: 100px;
    overflow-y: scroll;
    /* debug */
}

.call-to-action{
    height: 100px;
    width: calc(100% - 200px);
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
    line-height: 100px;
    background-color: rgba(143, 143, 143, 0.5);
    opacity: 20%;
}

.call-to-action button.btn{
    padding: 10px 12px;
    border: 1px solid white;
    border-radius: 20px;
    font-size: 18px;
    color: white;
    background-color: transparent;
}
/* /end call-to action */




/* DAVIDE RICORDATI DI TOGLIERE LE ALTEZZE DA DEBUG */
/* star nav content menu */
.spotify-container{
    width: 100%;
    height: 100%;
    justify-content: space-between;
}

#content-main ul.menu-nav-content{
    max-height: 50px;
    width: 100%;
    align-items: center;
    justify-content: center;
}
ul.menu-nav-content li{
    padding: 0 2%;
}
ul.menu-nav-content li a{
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    font-size: small;
    color: rgba(167, 163, 163, 0.678);

}
.recently, .createforyou, .popular {
    /* height: 30%; */
}
.menu-album-recently{
    flex-wrap: wrap;
    justify-content: space-between;
}
.menu-album-recently li{
    flex-basis: calc(100% / 6);
}
.menu-album-recently li{
    padding-right: 1%;
}
/* delte */
.height100px{
    height: 100px;
}
/* delete */
.menu-create li{
    flex-basis: calc(100% / 6);
    padding-right: 2%;
}


.menu-popular li{
    padding-right: 2%;
    flex-basis: calc(100% / 6);
}
.menu-popular li img{
    border-radius: 50%;
}
/* footer start */
footer{
    width: 100%;
    height: 80px;
    position: fixed;
    bottom: 0;
    left: 0;
    /* debug */
    background-color: black;
    /* debug */
}
#foot-cont{
    justify-content: space-between;
}

.box{
    width: 200px;
    height: 100%;
}

.box.first.mini-left{
    
}

.like-music{
    align-items: center;
    justify-items: flex-end;
}

/*  box MUSIC PLAYER */
.box.second{
    flex-grow: 1;
    justify-content: space-around;
    align-items: center;
    background-color: black;
}
.box.second a, .box.third a{
    color: rgba(167, 163, 163, 0.678);

}
ul.music-player{
    line-height: 50px;
}
ul.music-player li a, .menu-audio li a{
    font-size: 12px;
}
#special-player{
    font-size: 20px;
    margin: 0 20px;
}
ul.music-player li{
    padding-right: 10%;
    height: 30px;
}

.slider{
    width: 600px;
    margin: 0 20px;
    vertical-align: middle;
}
ul.music-bar{
    line-height: 40px;
}

ul.music-bar li{
    height: 40px;
}

.menu-audio{
    justify-content: space-between;
    line-height: 90px;
}
.menu-audio li:not(:last-child){
    padding-left: 10px;
}

.menu-audio a.slider-small .slider{
    width: 60px;
    vertical-align: middle;
}